{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Pro Tech</title>
</head>
<body>
    <header>
        <p>Noutbooklar bolimine otiw ushin <a href="{% url 'noutbooks' %}">Noutbooklar bolimine</a> basin</p>
    </header>
    <ul>
        {% for phone in phones %}
        <li>
            {{phone}}
        </li>
        {% endfor %}
    </ul>
    {% for telefon in telefonlar %}
    <h1>{{telefon.model}}</h1>
    <ul>
        <li>
            {{telefon.price}}
        </li>
        <li>
            {{telefon.description}}
        </li>
    </ul>
    <img src="{{telefon.photo.url}}" alt="" width="250">
    {% endfor %}
</body>
</html>